*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.list-menu-home{
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.list-menu-home.active{
    display: flex;
    bottom: 40px;
}
#area-logo{
    display: flex;
    align-items: center;
}
.img-logo-home{
    width: 60px;
    margin-right: 10px;
}

.list-menu-home li{
    margin-top: 10px;
}
.logo-menu-home{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
}
#bar-nav-home{
    background-color: rgb(255, 255, 0);
}
.img-menor, .img-maior{
    width: 300px;
}

#section-inicio{
    background-color: beige;
    height: 100vh;
    width: 100vw;
    display: flex;

}

#area-carrosel-model {
    position: relative;
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-left-home  {
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-Radius: 50%;
    z-Index: 10;
    font-Size: 20px;
    display: flex;
    align-Items: center;
    justify-Content: center;
    left: 10px;
}
.btn-rigth-home {
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-Radius: 50%;
    z-Index: 10;
    font-Size: 20px;
    display: flex;
    align-Items: center;
    justify-Content: center;
    right: 10px;
}
